{% extends "base.html" %}
{% block content %}

<h2>Your Wishlist</h2>

{% if wishlist_items %}
    <div class="row">
        {% for item in wishlist_items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" class="card-img-top" alt="{{ item.product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p>{{ item.product.description }}</p>
                        <p><strong>Price:</strong> ${{ item.product.price }}</p>
                        <a href="#" class="btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>You haven't added any items to your wishlist yet.</p>
{% endif %}

{% endblock %}
