{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-danger-subtle p-3">
    {% include 'header.html' %}
</div>
{% include 'nav.html' %}

<div class="change-password-container" style="background: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); width: 400px; margin-top: 20px; margin: 20px auto;">
    <h2 class="change-password-heading" style="font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 10px;">Change Password</h2>

    <form method="POST" class="change-password-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="submit-button" style="width: 100%; padding: 10px; background-color: #000; color: white; border: none; border-radius: 5px; cursor: pointer;">Change Password</button>
    </form>
</div>


<div class="messages">
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            <div class="message" style="background-color: #000; padding: 15px; margin: 10px 0; border-radius: 5px; color: #721c24; text-align: center;">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
