{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    This is the shopping cart page. Proceed to review your items and place the order.
{% endblock %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    <header class="bg-dark text-white py-3">
        <div class="container text-center">
            {% include 'header.html' %}
        </div>
    </header>
    
    {% include 'nav.html' %}
   
    <div class="container mt-4">
        {% if not user.is_authenticated %}
            <div class="alert alert-warning text-center">
                <h4>You need to be logged in to access your cart.</h4>
            </div>
        {% else %}
            {% if not cart_items %}
                <div class="text-center">
                    <h1>Your shopping cart is empty</h1>
                    <p>Please click <a href="{% url 'homepage' %}">here</a> to continue shopping.</p>
                </div>
            {% else %}
                <div class="text-center mb-4">
                    <h1>Your Shopping Cart</h1>
                </div>

                {% if message %}
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                {% endif %}
                
                <!-- Cart Items Display -->
                <form method="POST" action="#">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="cart-items">
                                {% for cart_item in cart_items %}
                                    <div class="card mb-4 shadow-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-3">
                                                <img src="{{ cart_item.product.image.url }}" class="card-img" alt="{{ cart_item.product.name }}">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ cart_item.product.name }}</h5>
                                                    <p class="card-text">{{ cart_item.product.description|truncatewords:20 }}</p>
                                                    <p class="card-text"><strong>Price:</strong> €{{ cart_item.product.price }}</p>
                                                    <p><strong>Size:</strong> 
                                                        {% if cart_item.size %}
                                                            {{ cart_item.size }}
                                                        {% endif %}
                                                    </p>
                                                    <p class="card-text"><strong>Subtotal:</strong> €{{ cart_item.sub_total }}</p>
                                                    
                                                    <div class="mb-2">
                                                        <p class="card-text mb-1"><strong>Quantity:</strong></p>
                                                        <div class="d-flex align-items-center mb-2">
                                                            <a href="{% url 'cart:cart_remove' cart_item.product.id %}?size={{ cart_item.size }}" class="btn btn-sm btn-outline-danger me-2">-</a>
                                                            <span class="mx-2">{{ cart_item.quantity }}</span>
                                                            <a href="{% url 'cart:add_cart' cart_item.product.id %}?size={{ cart_item.size }}" class="btn btn-sm btn-outline-primary ms-2">+</a>
                                                        </div>
                                                        <div>
                                                            <a href="{% url 'cart:cart_remove' cart_item.product.id %}?size={{ cart_item.size }}" class="btn btn-sm btn-danger w-auto px-3">Remove</a>
                                                        </div>
                                                    </div>

                                                    {% if cart_item.quantity < cart_item.product.stock %}
                                                        <a href="{% url 'cart:add_cart' cart_item.product.id %}?size={{ cart_item.size }}" class="btn btn-sm btn-outline-primary">+ Add</a>
                                                    {% endif %}
                                                    
                                                    <!-- Checkbox to select this item for purchase -->
                                                    <div class="form-check">
                                                        <input type="checkbox" name="selected_items" value="{{ cart_item.product.id }}" class="form-check-input">
                                                        <label class="form-check-label" for="selected_items">
                                                            Select this item for purchase
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">Checkout</h5>
                                    <p class="card-text">Please review your cart before proceeding with the payment.</p>
                                    <hr>
                                    <p><strong>Total: €{{ total }}</strong></p>

                                    <!-- Loyalty Points Section -->
                                    <form method="POST">
                                        {% csrf_token %}
                                        <label for="requested_points">Loyalty Points to Apply: (Max: {{ loyalty_points }})</label>
                                        <input type="number" name="requested_points" id="requested_points" max="{{ loyalty_points }}" min="0" value="0" required>
                                        <button type="submit" class="btn btn-success w-100 mt-2">Apply Loyalty Points</button>
                                    </form>

                                    {% if voucher_code %}
                                        <p><strong>Voucher Code Applied: {{ voucher_code }}</strong></p>
                                        <p><strong>Discount: -€{{ discount }}</strong></p>
                                        <p><strong>New Total: €{{ new_total }}</strong></p>
                                    {% endif %}
                                    
                                    <!-- Voucher Code Form -->
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="voucher_code">Voucher Code:</label>
                                            <input type="text" name="voucher_code" class="form-control" value="{{ voucher_code }}">
                                        </div>
                                        <button type="submit" class="btn btn-success w-100 mt-2">Apply Voucher Code</button>
                                    </form>

                                    <button type="submit" class="btn btn-primary w-100 mt-3 mb-3">Proceed to Checkout</button>
                                    
                                    <div id="paymentSection" style="display: none; margin-top: 10px;">
                                        <form action="{% url 'cart:cart_detail' %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-secondary btn-block my_custom_button" type="submit">Pay with card</button>
                                        </form>
                                    </div>
                                    
                                    {% if error %}
                                        <p style="color: red;">Error: {{ error }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    </div>
    
    <script>
        document.getElementById("proceedToCheckout").addEventListener("click", function(event) {
            event.preventDefault();
            document.getElementById("paymentSection").style.display = "block";
            this.style.display = "none";
        });
    </script>

    <style>
        #paymentSection .my_custom_button {
            width: 100%;
        }
        .card-img {
            object-fit: cover;
            height: 100%;
        }
    </style>
{% endblock %}
